html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 1180px;
  background-color: #47A1FE;
  overflow: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
  position: relative;
  background: url(../img/evaluation-bg.png) no-repeat;
  background-size: cover;
}
.content-area-matters {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1180px;
  height: 760px;
  background: #fff;
  margin-top: 35px;
  box-shadow: 0 20px 40px -10px rgba(33, 120, 215, 0.4);
  border-radius: 8px;
}
.content-area-matters .illustrati {
  width: 480px;
  height: 490px;
  margin: 135px 0 135px 100px;
  background: url(../img/matters-needing-attention.png) no-repeat;
  background-size: cover;
  float: left;
}
.content-area-matters .caption {
  width: 424px;
  height: 490px;
  margin: 135px 0 0 76px;
  color: #565A66;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  float: left;
}
.content-area-matters .caption h2 {
  font-size: 30px;
  font-weight: 600;
}
.content-area-matters .caption span {
  font-size: 22px;
  display: block;
  line-height: 38px;
  margin: 14px 0;
}
.content-area-matters .caption span:first-child {
  margin-top: 20px !important;
}
.content-area-matters .caption a {
  display: inline-block;
  font-size: 24px;
  width: 280px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
}
.content-area-matters .caption a.normal-btn {
  background: #47A1FE;
  color: #fff;
  margin-top: 36px !important;
}
.content-area-matters .caption a:hover {
  background: #50B2FF;
}
.content-area-matters .caption a:active {
  background: #1583D6;
}
