html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 1180px;
  background-color: #47A1FE;
  overflow: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
  position: relative;
  background: url(../img/evaluation-bg.png) no-repeat;
  background-size: cover;
}
header,
.header,
#header {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  line-height: 70px;
  background: #fff;
}
header .logo-modular,
.header .logo-modular,
#header .logo-modular {
  float: left;
}
header .logo-modular a,
.header .logo-modular a,
#header .logo-modular a {
  display: block;
  cursor: pointer;
}
header .logo-modular a img,
.header .logo-modular a img,
#header .logo-modular a img {
  width: 146px;
  height: 46px;
}
header .h-operate,
.header .h-operate,
#header .h-operate {
  float: right;
}
header .h-operate a,
.header .h-operate a,
#header .h-operate a {
  display: inline-block;
  width: 100px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  color: #47A1FE;
  border: 1px solid #47A1FE;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  letter-spacing: 1px;
}
header .h-operate a i,
.header .h-operate a i,
#header .h-operate a i {
  display: inline-block;
  margin: -3px 10px 0 0;
  vertical-align: middle;
  font-weight: normal !important;
}
header .h-operate a:hover,
.header .h-operate a:hover,
#header .h-operate a:hover {
  color: #fff;
  border: none;
  background: #47A1FE;
}
header .h-operate a:active,
.header .h-operate a:active,
#header .h-operate a:active {
  color: #fff;
  border: none;
  background: #1583D6;
}
header .h-operate a:nth-child(2),
.header .h-operate a:nth-child(2),
#header .h-operate a:nth-child(2) {
  margin-left: 24px !important;
}
.content-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1180px;
  height: 760px;
  margin-top: 35px;
  box-shadow: 0 20px 40px -10px rgba(33, 120, 215, 0.4);
  border-radius: 8px;
  background: #fff;
}
.content-area .c-header {
  position: relative;
  width: calc(100% - 60px);
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  color: #848894;
}
.content-area .c-header .c-h-left {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 3);
  font-size: 16px;
  text-align: left;
  letter-spacing: 0;
  line-height: 60px;
}
.content-area .c-header .c-h-left em {
  font-weight: normal !important;
  color: #848894;
}
.content-area .c-header .c-h-left em:nth-child(2) {
  color: #47A1FE;
}
.content-area .c-header .c-h-middle {
  width: auto;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  color: #565A66;
}
.content-area .c-header .c-h-right {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% / 3);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 60px;
}
.content-area .introduce {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35px;
  width: 1060px;
  height: 380px;
  background: url(../img/reaction-bg.png) no-repeat;
  background-position: 0 50%;
  background-size: 370px 380px;
  transform: translate(-50%, -50%);
}
.content-area .introduce .i-box {
  position: relative;
  float: right;
  width: 610px;
  height: 380px;
  padding: 40px 46px;
  border-radius: 8px;
  background: #EBF3FF;
  text-align: center;
}
.content-area .introduce .i-box .i-con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.content-area .introduce .i-box .i-con h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: #006AD7;
  letter-spacing: 0;
}
.content-area .introduce .i-box .i-con p {
  font-size: 22px;
  line-height: 34px;
  color: #007AF8;
  text-align: left;
  letter-spacing: 0;
}
.content-area .introduce .i-box .i-con a {
  display: inline-block;
  width: 280px;
  height: 60px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  border-radius: 4px;
  background: #47A1FE;
  cursor: pointer;
  letter-spacing: 0;
}
.content-area .introduce .i-box .i-con a:hover {
  background: #50B2FF;
}
.content-area .introduce .i-box .i-con a:active {
  background: #1583D6;
}
.content-area .introduce .i-box .i-con::after {
  position: absolute;
  top: 60px;
  left: -15px;
  width: 30px;
  height: 30px;
  background: #EBF3FF;
  content: '';
  transform: rotate(45deg);
}
.content-area .topic-exploring-area {
  position: relative;
  width: 100%;
  height: calc(760px - 61px);
  padding: 24px 30px;
  margin: 0 auto;
  text-align: center;
}
.content-area .topic-exploring-area h2 {
  font-size: 26px;
  color: #33363E;
  letter-spacing: 0;
  line-height: 26px;
  font-weight: normal;
}
.content-area .topic-exploring-area .stage-tit {
  text-align: left;
}
.content-area .topic-exploring-area .guide-tit {
  text-align: center;
  margin-top: 24px;
}
.content-area .topic-exploring-area .timing-ring-wrap {
  position: absolute;
  left: 50%;
  top: 120px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  text-align: center;
  line-height: 88px;
  z-index: 1;
  background: #fff;
  font-size: 42px;
  color: #565A66;
}
.content-area .topic-exploring-area .main {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 430px;
  border: 2px solid #CBD6E5;
  border-radius: 8px;
  margin-top: 61px;
  text-align: center;
}
.content-area .topic-exploring-area .main .main-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-area .topic-exploring-area .main .main-box .des-con {
  width: 814px;
  font-size: 26px;
  line-height: 46px;
  color: #33363E;
}
.content-area .topic-exploring-area .main .main-box .main-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100px;
}
.content-area .topic-exploring-area .main .main-box .main-con .question-con {
  display: inline-block;
  height: 100%;
  line-height: 100px;
  font-size: 56px;
  color: #565A66;
  float: left;
}
.content-area .topic-exploring-area .main .main-box .main-con .answer-con {
  box-sizing: border-box;
  width: 210px;
  height: 100px;
  background: #F7FAFF;
  border: 2px solid #47A1FE;
  border-radius: 2px;
  margin: 0 0 0 24px;
  font-size: 56px;
  color: #33363E;
  text-align: center;
  float: left;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.content-area .topic-exploring-area .main .not-flex {
  display: inline-block;
  position: relative;
}
.content-area .topic-exploring-area .main .success input {
  border: 2px solid #29C73E !important;
}
.content-area .topic-exploring-area .main .success img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 262px;
  width: 70px;
  height: 70px;
}
.content-area .topic-exploring-area .main .success .tips {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 85px;
  display: inline-block;
  font-size: 22px;
  color: #29C73E;
}
.content-area .topic-exploring-area .main .wrong input {
  border: 2px solid #ED5C52 !important;
}
.content-area .topic-exploring-area .main .wrong img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 262px;
  width: 70px;
  height: 70px;
}
.content-area .topic-exploring-area .main .wrong .tips {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 85px;
  display: inline-block;
  font-size: 22px;
  color: #ED5C52;
}
.content-area .topic-exploring-area .main .success-disturb input {
  border: 2px solid #29C73E !important;
}
.content-area .topic-exploring-area .main .success-disturb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 308px;
  width: 70px;
  height: 70px;
}
.content-area .topic-exploring-area .main .success-disturb .tips {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 85px;
  display: inline-block;
  font-size: 22px;
  color: #29C73E;
}
.content-area .topic-exploring-area .main .wrong-disturb input {
  border: 2px solid #ED5C52 !important;
}
.content-area .topic-exploring-area .main .wrong-disturb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 308px;
  width: 70px;
  height: 70px;
}
.content-area .topic-exploring-area .main .wrong-disturb .tips {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 85px;
  display: inline-block;
  font-size: 22px;
  color: #ED5C52;
}
.content-area .topic-exploring-area .start-btn {
  width: 280px;
  height: 60px;
  line-height: 60px !important;
  margin: 24px auto 0;
  font-size: 24px;
  background: #47A1FE;
  border-radius: 6px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  color: #fff;
}
.content-area .topic-exploring-area .start-btn:hover,
.content-area .topic-exploring-area .start-btn .hover {
  background: #50B2FF;
  color: #fff;
}
.content-area .topic-exploring-area .start-btn:active,
.content-area .topic-exploring-area .start-btn .active {
  background: #1583D6;
  color: #fff;
}
.content-area .topic-exploring-area .start-btn .disabled {
  background: #C3CEDE;
  color: #fff;
}
.content-area .topic-exploring-area .disabled {
  background: #C3CEDE;
  border: none;
  color: #fff;
}
.exercise-end-content {
  width: calc(100% - 608px);
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.exercise-end-content > img {
  width: 150px;
  height: 150px;
  margin-top: 110px;
}
.exercise-end-content > h1 {
  font-family: MicrosoftYaHei;
  font-weight: 600;
  font-size: 32px;
  color: #33363e;
  margin: 15px auto 20px;
}
.exercise-end-content .explain {
  font-family: MicrosoftYaHei;
  font-size: 22px;
  color: #848894;
  text-align: center;
}
.exercise-end-content .explain p {
  font-size: 22px;
  line-height: 34px;
  color: #565A66;
}
.exercise-end-content a {
  width: 280px;
  height: 60px;
  line-height: 60px !important;
  font-size: 24px;
  margin: 40px auto;
  background: #47A1FE;
  border-radius: 6px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  color: #fff;
}
.exercise-end-content a:hover,
.exercise-end-content a .hover {
  background: #50B2FF;
  color: #fff;
}
.exercise-end-content a:active,
.exercise-end-content a .active {
  background: #1583D6;
  color: #fff;
}
.exercise-end-content a .disabled {
  background: #C3CEDE;
  color: #fff;
}
